{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/data.json {:mvn/version "2.4.0"}
        clj-http/clj-http {:mvn/version "3.12.3"}
        slingshot/slingshot {:mvn/version "0.12.2"}}
 :aliases {:cider-clj {:extra-deps {cider/cider-nrepl {:mvn/version "0.27.2"}}
                       :main-opts ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]}
           :dev {:extra-paths ["classes"]}
           :test {:extra-paths ["test"]
                  :extra-deps {lambdaisland/kaocha {:mvn/version "1.64.1010"}}
                  :main-opts ["-m" "kaocha.runner"]}
           :clj-kondo/config
           {:extra-deps {clj-kondo/config {:git/url "https://github.com/clj-kondo/config"
                                           :sha "bd72d749732540e5e18a9eaca92f507bdb981473"}}
            :main-opts ["-m" "clj-kondo.config"]}
           :build {:deps {io.github.seancorfield/build-clj {:git/tag "v0.8.0" :git/sha "dbf7321"}}
                   :ns-default build}}}
